<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/box-journal.css">
    <title>Suparound</title>
</head>
<body>
    <div id="home-link"><a href="/template/home.html">HOME</a></div>
    <div id="journal">
        <div id="journal-title">

        </div>
        <div id="journal-date">

        </div>
        <div id="journal-content">

        </div>
    </div>
</body>
<script src="../scripts/box-journal.js" type="module" defer></script>
</html>

