<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/box.css">
    <title>Suparound</title>
</head>
<body>
    <form id="content-form">
        <p id="date-text">0000-00-00</p>
        <input type="text" id="title" placeholder="Title">
        <textarea name="content" id="content"></textarea>
        <button id="save-btn">Enter</button>
    </form>
</body>
<script src="../scripts/box.js" type="module" defer></script>
</html>

