<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <title>Suparound</title>
</head>
<body>
    <div class="wrapper">
        <form id="move-section">
            <input id="move-to-text" type="text" placeholder="Path name">
            <button id="move-to-btn">Enter</button>
        </form>
        <div id="caption-section">
            <p>White Board</p>
        </div>
        <div id="white-board"></div>
        <div id="caption-section">
            <p>Records</p>
        </div>
        <div id="journal-board">
           <ul id="board-list"></ul>
        </div>
    </div>
</body>
<script src="/scripts/home.js" type="module" defer></script>
</html>

