* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #d4d4d4;
}

.wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#white-board {
    max-width: 1300px;
    width: 90%;
    height: 250px;
    border-radius: 16px;
    background-color: rgba(2, 46, 2, 0.5);
    padding: 20px 30px;
    color: white;
    font-family: sans-serif;
}

#white-board-draw {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 5px;
}

#journal-board {
    max-width: 1300px;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(2, 46, 2, 0.5);
    padding: 20px 30px;
}

#board-list li {
    width: 100%;
    min-height: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#board-list li a {
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}

#board-list li a:hover {
    color: skyblue;
}

#board-list li a:active {
    color: white;
}

#board-list li div {
    color: white;
    font-size: 12px;
}

#caption-section {
    max-width: 1300px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#move-section {
    max-width: 1300px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#move-to-text {
    width: 150px;
    height: 35px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

#move-to-btn {
    width: 60px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(2, 46, 2, 0.5);
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: white;
    transition-duration: 0.3s;
}

#move-to-btn:hover {
    background-color: white;
    color: rgba(2, 46, 2, 0.5);
}

#move-to-btn:active {
    background-color: rgba(2, 46, 2, 0.5);
    color: white;
}

